// Fonts
@import url('https://fonts.googleapis.com/css?family=Abel|Nunito|Open+Sans');

// Colors
$grey: #333333;
$dark-grey-background: #202020;
$medium-grey-background: #303030;
$light-grey-background: #404040;
$container-accent: #808080;
$font-family-sans-serif: 'Abel', 'Nunito', 'Open Sans', sans-serif; 
$white-smoke: #F5F5F5;
$orange-text-accent: #ff9200;


