.activeTickersContainer {
	h3,h4,h6 {
				font-family: $font-family-sans-serif;
			}
	.activeTickersWrapper {
		display: flex;
		

		.activeTicker {
			width: 20%;
			border: 1px solid rgba(199,186,169,1);
			
		}
	}
}

