body {
	background: $dark-grey-background;
	background: linear-gradient(to bottom, #202020 , #303030);
}

.tickerapp-body {
	margin: 4rem 0 2rem;
	text-align: center;
	color: $orange-text-accent;
	font-family: $font-family-sans-serif;

	.children-container {
		background-color: $medium-grey-background;
	}

	.page-title {
		font-family: $font-family-sans-serif;
	}

	

}